body {
  background-color: black;
  margin: 0px;
}

span.anyText {
    display:inline-block;
    pointer-events: none;
}

h3 {
  font-size: 28px;
}

@font-face {
  font-family: 'Gaiatype';
  src: url('./font/Gaiatype.eot');
  src: url('./font/Gaiatype.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./font/Gaiatype.woff') format('woff'), /* Pretty Modern Browsers */
       url('./font/Gaiatype.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./font/Gaiatype.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.msg{
  font-family: Gaiatype;
  color: white;
  text-shadow: 4px 4px 4px #BF16B6;
  font-size: 36px;
  text-align: left;
  padding-left: 5vh;
  word-wrap: break-word;
  margin-top: 10vh;
}

.anyText {
  font-family: Gaiatype;
  color: white;
  text-shadow: 4px 4px 4px #BF16B6;
}

#bigOldTitle {
  position: fixed;
  white-space: nowrap;                /* remove this and the three lines after to fix word wrapping */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*font-size: 102px;*/
  text-align: center;
  z-index: 1;
  letter-spacing: 15px;
}

#ansDiv {
  font-family: Gaiatype;
  color: white;
  text-shadow: 4px 4px 4px #BF16B6;
  font-size: 42px;
  position: fixed;
  bottom: 0;
  margin-left: 25%;
}

.openingText {
    margin-left: 15%;
    margin-right: 15%;
}

.openingText1stLine {
    margin-top: 20vh;
}

.afterMessageInstruct {
    font-size: 58px;
    margin-left: 25%;
}

.selectable {
    margin-top: 2vh;
    display: block;
}

.responses {
    margin-left: 20vh;
}

#instructorLeft {
  position: absolute;
  left: 5%;
  top: 75%;
  font-size: 24px;
}

#instructorRight {
  position: absolute;
  font-size: 24px;
  top: 75%;
  right: 5%;
}

span#animElem0 {
  position: absolute;
  top: 75%;
  left: 50%;
  font-size: 24px;
  transform: translate(-50%, -50%);
}

.starveDeath {
    text-align: center;
    font-size: 64px;
}
